@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li, a:not(.footer-link) {
    list-style: none;
    color: white;
    font-weight: 1000;
}


a:hover{
    color: black;
    background: white;
    border-radius: 15px;

}

.bottom-bar{
    border: 1px solid black;
}

.top-header{
    display: flex;
    margin-top: 20px auto;
    justify-content: center;
    align-items: center;
}

 .title{
 }

.logo{
    background-color: white;
 }


.nav-bar{
    position: sticky;
    top: 0;
    padding: 20px;
    text-align: center;
    background-color: #222831 ;
}


.main > p {
    margin: 200px;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.recipe-2 {
    flex: 2;
}

.recipe-1, .recipe-3{
    flex: 1;
}

#footer-bottom {
    margin-top: auto;
    text-align: center;
    background: #e3f6f5;
    padding: 5px;
}

.footer-link {
    color: black;
    font-weight: 1000;
}

