@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    background: white;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 1000;
}


a:hover{
    color: white;
    background: black;
    border-radius: 15px;

}

.bottom-bar{
    border: 1px solid black;
}

.title{
    text-align: center;
    margin: 20px auto;
}

.nav-bar{
    position: sticky;
    top: 0;
    padding: 20px;
    text-align: center;
}

.main {
    margin: 200px;
    font-size: 1.5rem;
    text-align: center;
}

.nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.recipe-2 {
    flex: 2;
}

.recipe-1, .recipe-3{
    flex: 1;
}

